@use "../utilities" as utils;

.bg-intro {

   position: absolute;
   top: -30%;
   z-index: 1;


   @media (width <= utils.$medium) {
      &--desktop {
         display: none;
      }
   }

   @media (width > utils.$medium) {
      &--mobile {
         display: none;
      }
   }
}

.bg-mockup {
   position: relative;
   z-index: 2;
   left: 50%;
   transform: translate(-40%, -10%);
}