@use "../utilities" as utils;

.button {
   border: none;
   border-radius: utils.$radius;
   color: utils.$white;
   padding: 15px 35px;
   font-weight: utils.$bold;
   @include utils.background-gradient;

   &:hover {
      cursor: pointer;
      @include utils.light-background-gradient;
   }

   @media (width <= utils.$medium) {
      &--desktop {
         display: none;
      }
   }

   @media (width > utils.$medium) {
      &--mobile {
         display: none;
      }
   }
}
