@use "../utilities" as utils;

.social-media {
   @include utils.flexbox($gap: 1rem);

   &__container {
      @include utils.flexbox($direction: column, $gap: 4.5rem);
      height: 100%;
   }

   & svg > path {
      transition: fill 0.3s ease-out;
   }

   & > a:hover svg > path  {
      fill: utils.$primary-blue;
   }
}