@use "../utilities" as utils;

.footer {
   @include utils.flexbox($justify: space-between);
   background-color: utils.$dark-bg;
   padding: clamp(20px, 3%, 150px) clamp(20px, 10%, 300px);
   color: utils.$white;

   &__first {
      @include utils.flexbox($gap: 7.5rem);
   }

   &__last {
      @include utils.flexbox($direction: column, $align: flex-end, $gap: 2.5rem);

      & > span {
         color: utils.$light-font-color;
      }
   }

   &__list {
      list-style: none;
      font-weight: utils.$light;

      & > li {
         padding: 0.5rem 0;
      }

      & a {
         transition: color 0.3s ease-out;

         &:hover {
            color: utils.$primary-blue;
         }
      }
   }

   @media(width < utils.$medium) {
      flex-direction: column;
      padding: clamp(60px, 3%, 150px) clamp(20px, 10%, 300px);

      &__first {
         flex-direction: column;
         align-items: center;
         gap: 1px;
      }

      &__list {
         text-align: center;
         padding: 0;
         margin: 0;
      }

      &__last {
         gap: 2rem;
         align-items: center;
         padding-top: 1rem;
      }
   }
}