@use "../utilities" as utils;

.section {

   background-color: utils.$light-bg;

   &--hero {
      @include utils.flexbox();

      & > div {
         width: 50%;
      }

   }

   &--dark {
      background-color: utils.$dark-bg;
   }

   &__title {
      font-weight: utils.$normal;
      font-size: 35px;
   }

   &__desc {
      color: utils.$light-font-color;
      max-width: 600px;
   }


   &__content {

      @include utils.flexbox($direction: column, $align: flex-start, $gap: 30px);
      max-width: 500px;

      & > h1 {
         font-size: 40px;
         font-weight: utils.$normal;
      }

      & > p {
         color: utils.$light-font-color;
      }

      &__container {
         @include utils.flexbox($direction: column, $align: flex-start, $gap: 20px);
         padding: clamp(20px, 7.5%, 300px) clamp(20px, 10%, 300px);
      }

      &__container--hero {
         @include utils.flexbox();
         translate: 0 -40%;
         padding: 0 100px;

         @media (width < utils.$extra-large) {
            translate: 0 0;
         }
      }
   }

   &-image__container {
      position: relative;
      overflow: hidden;
   }
}