@use "../utilities" as utils;

.section {

   background-color: utils.$very-light-bg;

   &--hero {
      @include utils.flexbox();

      & > div {
         width: 50%;
      }

      @media(width < utils.$medium) {
         @include utils.flexbox($direction: column-reverse, $align: center);

         & > div {
            width: 100%;
         }
      }

   }

   &--dark {
      background-color: utils.$light-bg;
   }

   &__title {
      font-weight: utils.$normal;
      font-size: 35px;
   }

   &__desc {
      color: utils.$light-font-color;
      max-width: 600px;
   }

   @media(width < utils.$medium) {
      &__title, &__desc {
         text-align: center;
         margin: 0 auto;
      }
   }


   &__content {

      @include utils.flexbox($direction: column, $align: flex-start, $gap: 30px);
      max-width: 500px;

      & > h1 {
         font-size: 40px;
         font-weight: utils.$normal;
      }

      & > p {
         color: utils.$light-font-color;
      }

      &__container {
         @include utils.flexbox($direction: column, $align: flex-start, $gap: 20px);
         padding: clamp(20px, 7.5%, 300px) clamp(20px, 10%, 300px);
      }

      &__container--hero {
         @include utils.flexbox();
         translate: 0 -40%;
         padding: 0 100px;

         @media (width < utils.$extra-large) {
            translate: 0 0;
         }
      }

      @media(width < utils.$medium) {
         align-items: center;
         text-align: center;

         &__container--hero {
            margin-bottom: 3rem;
         }
      }

      @media(width < utils.$small) {
         &__container--hero {
            padding: 0 50px;
         }
      }
   }

   &-image__container {
      position: relative;
      overflow: hidden;
   }
}